@use "root";
@use "header";
@use "page1";

@media only screen and (max-width: 500px) {
  .subtitle {
    font-size: 18px;
  }
  #guide-text {
    left: 0;
    width: 180px;
  }
  .padded {
    padding-top: 80px;
  }
  .about-us {
    margin-top: 0;
    padding-top: 0;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
  .about-text {
    padding: 5px;
  }
  .picture-us {
    min-width: 140px;
    height: 140px;
    width: 140px;
  }

  .story-time {
    font-size: 1rem;
    padding: 0;
  }
  .qpic {
    display: none;
  }
  .google-reviews-filled-in {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    padding: 0;
    gap: 2px;
  }
  .google-reviews-filled-in > h1 {
    font-size: 1rem;
  }
  .quote-box {
    max-width: 100%;
    padding: 10px 0px 0px 0px;

    font-size: 1rem;
    aspect-ratio: 3/1;
  }
  .author {
    font-size: 1rem;
    bottom: 0;
  }

  element.style {
  }
  #more-reviews {
    transform: translateY(-100%);
    width: 100px;
    height: 25px;
  }
  .links {
    gap: 20px;
  }
  .linkbox {
    width: 100px;
    height: 100px;

    background-color: darkblue;
    border: 8px solid black;
    border-radius: 25px;
  }
  .boiler-plate-footer {
    text-align: center;
  }
}
