@use "root";
.chapter2 {
  position: relative;
}
.screen {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.drop-off {
    transform-origin: top left;
    animation: dropoffanim 0.4s ease-in 0s 1 forwards;
  }
}
@keyframes dropoffanim {
  0% {
    scale: 100%;
    transform: translateY(0);
    rotate: (0deg);
  }

  99% {
    scale: 100%;
    transform: translateY(150vh);
  }
  100% {
    scale: 0%;
  }
}

.intro-box-border {
  border: 3px solid black;
  border-radius: 50%;
}

.intro-box {
  margin: 30px;
  position: relative;
  width: 280px;
  height: 280px;
}

.hiThere {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  scale: 0%;
  background-position: center;
  background-size: cover;

  &:nth-child(1) {
    background-image: url("../images/hithere/hithere0.png");
  }
  &:nth-child(2) {
    background-image: url("../images/hithere/hithere1.png");
  }
  &:nth-child(3) {
    background-image: url("../images/hithere/hithere2.png");
  }
  &:nth-child(4) {
    background-image: url("../images/hithere/hithere3.png");
  }
}

.pop-in {
  scale: 100%;
}

.hero {
  position: relative;
  width: 100%;
  height: max(30vh, 700px);
  background-image: url("../images/chet-hero-edit.JPG");
  background-position: center bottom;
  background-size: cover;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.44, 0.4, 0.19, 1.05) 0.1s;
}

.down-and-out {
  transform: translateY(-10px);
  opacity: 0%;
}

.greeter {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-top: 1vw;
  // padding-left: 5vw;
  .greet-const {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .greet-hours {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--color-btn);
    padding-left: 10px;
    padding-right: 30px;
    .open-status {
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 1.25rem;
      font-family: var(--handwriting);
    }
  }

  .open-status > pre {
    font-family: var(--handwriting);
    pointer-events: none;
  }

  #daysAndHours {
    position: absolute;
    z-index: 2;
    top: 100%;
    background-color: var(--color-ac);
    list-style: none;
    border-radius: 3px;
    font-size: 1.25rem;
    // padding: 10px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .untucked {
    max-height: 500px;
    transition: all 1s ease-out;
    overflow-y: hidden;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .tuckedUp {
    max-height: 0px;
    overflow-y: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #expander {
    position: absolute;
    z-index: 5;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 1px solid black;
    // pointer-events: none;
  }
  .greet-tab {
    position: relative;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    display: flex;
    justify-content: center;

    transform: translate(0, 0);
    transition: transform 0.5s ease-out;
    @for $i from 1 to 4 {
      &:nth-child(#{$i}) {
        transition-delay: $i * 0.25s;
      }

      &:hover {
        scale: 1.1;
      }
    }

    > a > button {
      background-color: var(--color-btn);
      height: 200px;
      width: 200px;
      font-size: 1.5rem;
      font-family: var(--fun-font);
      border-radius: 10px;
      color: var(--color-ln);
      text-shadow: 1px 1px white;
      border: 3px solid var(--color-ln);
      border-radius: 50%;
      h2 {
        // opacity: 0.5;
      }
      p {
        color: black;
        color: var(--color-ln);
      }
    }
    .tag-line-box {
      position: absolute;
    }
    .tag-menu {
      top: 0px;
      left: 0px;
      transform: rotate(-40deg);
    }
    .tag-social {
      bottom: 0px;
      right: 0px;
      transform: rotate(-35deg) translateY(10px);
    }

    .tag-line {
      position: relative;
      font-size: 1.5rem;
      transform: rotate(45deg);
      font-family: var(--handwriting);
      text-decoration: wavy;
    }

    .tag-line:before {
      content: "";
      background-color: var(--color-bg);
      width: 100%;
      height: 1em;
      position: absolute;
      z-index: -1;
      filter: url(#marker-shape);
      left: -0.25em;
      top: 0.1em;
      padding: 0 0.25em;
    }

    &.unintroduced-tableft {
      transform: translateX(-100vw);
    }
    &.unintroduced-tabdown {
      transform: translateY(100vw);
    }
    &.unintroduced-tabright {
      transform: translateX(100vw);
    }
  }
}
#toastSwitchMobile {
  display: none;
}

.iframer-cont {
  background-color: var(--color-btn);
  border: 3px solid var(--color-ln);
  border-radius: var(--border-rad);
  width: 80%;
  height: 400px;
  margin-left: 10%;
  margin-right: 10%;
}

.padded {
  padding-top: 25vh;
  padding-left: calc(2.5vw + 5px + var(--vw-padding));
  padding-right: calc(2.5vw + 5px + var(--vw-padding));
}

.arrow-down {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: var(--handwriting);
}

.locals-dig-us-hero {
  position: relative;
  width: 100%;
  height: min(75vh, 700px);

  mask: url("../images/bigmaskspill2.png");
  mask-mode: luminance;
  mask-repeat: no-repeat;
  mask-position: bottom;
  mask-size: cover;
  background-image: url("../images/f\ rach.JPG");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 5%;
  padding-top: 5%;
}

.quote-frame {
  position: relative;
  border: 2px solid var(--color-ln);
  width: 45%;
  height: 200px;
  background-color: var(--color-bg-t);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.quote {
  position: absolute;
  font-size: 1.5rem;
  margin: 1rem;
}
.quote-up {
  transform: translateY(0);
}
.chapter3 {
  position: relative;
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.about-us-hero-1 {
  position: relative;
  width: 100%;
  // height: min(80vh, 700px);
  height: 85vh;
  background-image: url("../images/espressoclipped.png");
  background-position: top;
  background-size: cover;
  padding-right: 5%;
  // mask: url("../images/espressomask.png");
  // mask-mode: luminance;
  // mask-repeat: no-repeat;
  // mask-position: bottom;
  // mask-size: cover;
}

.custom-shape-divider-bottom-1673554835 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1673554835 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 130px;
}

.custom-shape-divider-bottom-1673554835 .shape-fill {
  fill: transparent;
}

.about-us {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  position: relative;
  border: 3px solid black;
  width: 80%;
  height: 350px;
  padding: 15px;
  background-color: var(--color-btn);
  font-family: var(--handwriting);
}

.picture-us {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  margin-top: 1rem;
  height: 200px;
  min-width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}
#signed {
  font-family: var(--handwriting);
  float: right;
  margin: 10px;
  text-align: end;
}

.story-time {
  display: inline;
  padding: 1rem 2rem;
  font-size: 1.25rem;
}
.local-reviews {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.google-reviews-filled-in {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  flex: 0;
  justify-content: space-around;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
}

.quote-box {
  position: relative;
  background-color: rgba(250, 255, 224, 0.092);
  border: 3px solid black;
  aspect-ratio: 1/1;
  max-width: 18vw;
  padding: 2rem 1rem;
  font-size: 1.25rem;
  background-color: var(--color-btn);
  border: 3px solid var(--color-ln);
  border-radius: var(--border-rad);
  font-family: var(--handwriting);
}
.author {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1.5rem;
  color: var(--color-ac);
}

#qpic1 {
  background: url("../images/m1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#qpic2 {
  background: url("../images/m2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#qpic3 {
  background: url("../images/m3.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.chapter2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.chapter4 {
  position: relative;
}
#more-reviews {
  position: absolute;
  bottom: 5vh;
  right: 5vh;
  margin-left: auto;
  padding: 5px 10px;
  font-family: var(--classic-font);
}

.links {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.linkbox {
  width: 20vh;
  height: 20vh;
  border: 8px solid black;
  border-radius: 25px;
}

#toast {
  background: url("../images/toast-flip.png");
  background-size: cover;
}

#instagram {
  background: url("../images/instagram.png");
  background-size: cover;
}

#google {
  background: url("../images/google.png");
  background-size: cover;
}

.boiler-plate-footer {
  width: auto;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
