@use "root";
.chapter2 {
  position: relative;
}
.screen {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.drop-off {
    transform-origin: top left;
    animation: dropoffanim 0.4s ease-in 0s 1 forwards;
  }
}
@keyframes dropoffanim {
  0% {
    scale: 100%;
    transform: translateY(0);
    rotate: (0deg);
  }
  // }
  // 10% {
  //   scale: 100%;
  //   transform: translateY(0);
  //   rotate: (20deg);
  // }
  // 25% {
  //   scale: 100%;
  //   transform: translateY(0);
  //   rotate: (10deg);
  // }
  // 40% {
  //   scale: 100%;
  //   transform: translateY(0);
  //   rotate: (20deg);
  // }
  99% {
    scale: 100%;
    transform: translateY(150vh);
  }
  100% {
    scale: 0%;
  }
}

.intro-box-border {
  border: 3px solid black;
  border-radius: 50%;
}

.intro-box {
  margin: 30px;
  position: relative;
  // border: 3px solid brown;
  // padding: 50px;
  width: 280px;
  height: 280px;
}

.hiThere {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  scale: 0%;
  background-position: center;
  background-size: cover;

  &:nth-child(1) {
    background-image: url("../images/hithere/hithere0.png");
  }
  &:nth-child(2) {
    background-image: url("../images/hithere/hithere1.png");
  }
  &:nth-child(3) {
    background-image: url("../images/hithere/hithere2.png");
  }
  &:nth-child(4) {
    background-image: url("../images/hithere/hithere3.png");
  }
}

.pop-in {
  scale: 100%;
}

.hero {
  position: relative;
  width: 100%;
  height: max(30vh, 500px);
  background-image: url("../images/f\ chet.JPG");
  background-position: center;
  background-size: cover;
}

.greeter {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-top: 1vw;
  padding-left: 5vw;
  // background-color: aquamarine;
  .greet-const {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .greet-hours {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 50px;
    border: 1px solid pink;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-btn);
    border: 3px solid var(--color-ln);
    border-radius: var(--border-rad);
    padding-left: 20px;
    padding-right: 20px;
    .open-status {
      width: 100%;
      // background-color: darkkhaki;
      display: flex;
      justify-content: center;
      font-size: 1.25rem;
      font-family: var(--handwriting);
    }
  }

  .open-status > pre {
    font-family: var(--handwriting);
    pointer-events: none;
  }

  #daysAndHours {
    position: absolute;
    z-index: 2;
    top: 100%;
    background-color: var(--color-ac);
    list-style: none;
    border-radius: 3px;
    font-size: 1.25rem;
    // padding: 10px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .untucked {
    max-height: 500px;
    transition: all 1s ease-out;
    overflow-y: hidden;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .tuckedUp {
    max-height: 0px;
    overflow-y: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #expander {
    position: absolute;
    z-index: 5;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 1px solid black;
    // pointer-events: none;
  }
  .greet-tab {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    transform: translate(0, 0);
    transition: all 0.5s ease-out;
    @for $i from 1 to 4 {
      &:nth-child(#{$i}) {
        transition-delay: $i * 0.25s;
      }
    }

    > a > button {
      background-color: var(--color-btn);
      height: 200px;
      width: 200px;
      font-size: 1.5rem;
      font-family: var(--fun-font);
      border-radius: 10px;
      color: var(--color-ln);
      text-shadow: 1px 1px white;
      border: 3px solid var(--color-ln);
      border-radius: 50%;
      h2 {
        // opacity: 0.5;
      }
      p {
        color: black;
        color: var(--color-ln);
      }
    }

    &.unintroduced-tableft {
      transform: translateX(-100vw);
    }
    &.unintroduced-tabdown {
      transform: translateY(100vw);
    }
    &.unintroduced-tabright {
      transform: translateX(100vw);
    }
  }
}
#toastSwitchMobile {
  display: none;
}

.iframer-cont {
  background-color: var(--color-btn);
  border: 3px solid var(--color-ln);
  border-radius: var(--border-rad);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.padded {
  padding-top: 25vh;
  padding-left: calc(2.5vw + 5px + var(--vw-padding));
  padding-right: calc(2.5vw + 5px + var(--vw-padding));
  // background-color: rgb(124, 124, 192);
}

.about-text {
  border: 3px solid black;
  border-radius: 25px;
  padding: 15px;
  background-color: var(--color-btn);

  display: grid;
  grid-template-columns: 20% 80%;
}
.about-us {
  padding-top: 1rem;
  display: flex;
  margin-top: 8rem;
  padding-bottom: 2rem;
}

.picture-us {
  display: inline-block;
  margin-top: 1rem;
  height: 200px;

  min-width: 200px;
  border: 1px solid black;
  background: url("../images/ustrans.png");
  background-size: contain;
  // displa
}
.story-time {
  display: inline;
  padding: 1rem 2rem;
  font-size: 1.25rem;
}
.local-reviews {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.google-reviews-filled-in {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  flex: 0;
  justify-content: space-around;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
}

.quote-box {
  position: relative;
  background-color: rgba(250, 255, 224, 0.092);
  border: 3px solid black;
  aspect-ratio: 1/1;
  max-width: 18vw;
  padding: 2rem 1rem;
  font-size: 1.25rem;
  background-color: var(--color-btn);
  border: 3px solid var(--color-ln);
  border-radius: var(--border-rad);
  font-family: var(--handwriting);
}
.author {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1.5rem;
  color: var(--color-ac);
}
#signed {
  font-family: var(--handwriting);
  float: right;
}

#qpic1 {
  background: url("../images/m1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#qpic2 {
  background: url("../images/m2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#qpic3 {
  background: url("../images/m3.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.chapter2 {
  position: relative;
}
#more-reviews {
  position: absolute;
  bottom: 5vh;
  right: 5vh;
  margin-left: auto;
  padding: 5px 10px;
  font-family: var(--classic-font);
}

.links {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.linkbox {
  width: 20vh;
  height: 20vh;
  border: 8px solid black;
  border-radius: 25px;
}

#toast {
  background: url("../images/toast-flip.png");
  background-size: cover;
}

#instagram {
  background: url("../images/instagram.png");
  background-size: cover;
}

#google {
  background: url("../images/google.png");
  background-size: cover;
}

.boiler-plate-footer {
  width: auto;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
