:root {
  --vw-padding: 10vw;
  --fun-font: "Arvo", serif;
  --classic-font: "EB Garamond", serif;
  --border-rad: 10px;
  --handwriting: "Indie Flower", cursive;

  --color-bg: #dcc9b6;
  --color-tx: #a39171;
  --color-ln: #6d4c3d;
  --color-ac: #727d71;

  --color-btn: #e4dad1;
}
