@use "root";
@use "header";
@use "page1";
@use "mobile";
@use "menulist";
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=EB+Garamond&family=Indie+Flower&display=swap");

* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  // background-color: var(--color-bg);
}

.site-shell {
  position: relative;
  width: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  // border: 1px solid gray;
  scroll-snap-type: y mandatory;
  background-color: var(--color-bg);
}
.view-chapter {
  min-height: 100vh;
  scroll-snap-align: start;
  // background-color: var(--color-bg);
}

.chapter3 {
  position: relative;
}
